/* -----总盒子 */
.App{
   /* max-width: 900px; */
   max-width:768px;
   margin:auto;
}

/* -----头部 */
.app-header{
    height:55px;
    text-align: center;
    line-height: 55px;
    -webkit-user-select: none;
    user-select: none;
    background: #d43c33;
}
.app-header-logo{
    width:35px;
    height:35px;
    vertical-align: middle;
    position: relative;
    margin-top:-14px;
}
.app-header-title{
    display: inline-block;  
    font-weight: 500;
    color: #fff;
    margin-left:5px;
 
}
/* -----内容  */
.app-section{
  height:50px;
  line-height: 50px;
  display: flex;
  text-align: center;
  border-bottom: 2px solid #ccc;
  /* font-size:20px; */
}
.app-section-recommend,.app-section-ranking,.app-section-search{
    flex: 1;
}

.app-section-recommend{

}

.app-section-ranking{

}

.app-section-search{

}

.nav-link{
    text-decoration: none;
    color: inherit;
    display: block;
}

.active>span{
   color:#d43c33;
   font-weight: 600;
   display: inline-block;
   padding:0 12px;
   border-bottom: 2px solid #d43c33;
}

